</div>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/dashboard">BAA</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li <%= ('user_account'.in?(@selected_menu_items)) ? 'class=active' : '' %>>
          <a href="/account"><%= t('User account') %></a></li>
        <li class="dropdown <%= ('reports'.in?(@selected_menu_items)) ? 'active' : '' %>">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><%= t('Reports') %>
            <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#"><%= t('report 1') %></a></li>
            <li><a href="#"><%= t('report 2') %></a></li>
          </ul>
        </li>
        <li class="dropdown <%= ('data'.in?(@selected_menu_items)) ? 'active' : '' %>">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><%= t('Data') %>
            <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li <%= ('bank_accounts'.in?(@selected_menu_items)) ? 'class=active' : '' %>>
              <a href="<%= url_for :bank_accounts %>"><%= t('Bank accounts') %></a></li>
            <li <%= ('import_transactions'.in?(@selected_menu_items)) ? 'class=active' : '' %>>
              <a href="#"><%= t('Import transactions') %></a></li>
            <li <%= ('operation_categories'.in?(@selected_menu_items)) ? 'class=active' : '' %>>
              <a href="#"><%= t('Operation categories') %></a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/logout"><%= t('Logout') %></a></li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>
<%= render 'front/flash_messanger' %>
<div class="container-fluid">